*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: .5em;
}
header {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    align-items: center;
    margin-left: 2rem;
   
   
}
ul{

    display: flex;
    list-style-type: none;
    justify-content:space-evenly;
}
 li:hover
{
    cursor:pointer;
    color: orange;
}
nav{
    width : 60vw;
    margin-top: 10px;
}
header>h1{
    width: 15vw;
    font-weight: 300;
} 
.BigImage{
        width: 96.5vw;
        margin-bottom: 4rem;
}
.box
{
    
    display: flex;
  
}
.box > div 
{
    text-align: center;
    margin: 2rem;

}
.box h1
{
    font-weight: lighter;

    
}

.box > div > p{
    font-size: x-large;
    line-height: 1.5rem;
}
footer{
    text-align: center;
    
    font-size: x-large;
    background-color: black;
    height: 4rem;
    padding-top: 1rem;
    color: whitesmoke;
}
